<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>March 14</td>  <td><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Spreadsheets and OpenRefine</a></td> </tr>
      <tr> <td>March 15</td>  <td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td> </tr>
      <tr> <td>March 15</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Intro to R</a></td> </tr>
      <tr> <td>March 17</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">R visualization & Rmd</a></td></tr>
      <tr> <td>END</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
    </table>
  </div>
</div>
